.text{
    background-color: white;
    opacity: 0.000001;
    border: black 3px solid;
    padding: 40px ;
}

kuvat_vasen {
float: left;
width: 25%;
padding: 10px;
}

kuvat_oikea {
float: right;
width: 25%;
padding: 10px;
}

p {
  font-size: 20px;
}
.blogi{
    background-color: white;
    padding:0 10px 0 10px;
}
.blogi img{
    max-width:100%;
    max-height:100%;
}
.blogi a{
    text-decoration:none;
}
.blogi h1{
    padding-left: 7px;
	font-size: 30px;
}
.mid{
    margin-bottom: 50px;
}
.sivu{
    margin-left: 15px;
    background-color: white;
    border: black 3 px solid;
    padding-top: 10px;
}
.sivu h4{
    padding-left: 9px;
}
h4, h1{
    color: black;
}


 .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


.paa{
    padding: 3% 5% 0 5%;
}
/* The sidebar menu /
.sidenav {
    width: 200px;
    left: 0;
    overflow-x: hidden;
  }

  / The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
  }

  .sidenav a:hover {
    color: gray;
  }



  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .row paa {

    max-width: 1440px;
    margin: auto;
  }
